@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin:0;
}
header{
  /*margin-bottom: auto;*/
  display: inline-flex;
  justify-content: space-between;
}

h1,
h2,
h3{
  background-color: #f5a442;
}
h1,
h2,
h3,
header,
footer{
  font-family: 'RocknRoll One', sans-serif;
  text-transform: uppercase;
  padding: 15px;
}
header,
footer{
  background-color: #eb4034;
  align-items: center;
}
.loader {
  margin: 35vh auto;
  border: 16px solid #f5a442;
  border-radius: 50%;
  border-top: 16px solid #f5a442;
  border-right: 16px solid #f2ecbb;
  border-bottom: 16px solid #f2ecbb;
  border-left: 16px solid #f2ecbb;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#logo{
  font-size: 20px;
  font-weight: bold;
}
#sp-client{
  margin-left: auto;
  margin-right: 25px;
}
#basket{
  border: 2px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5px;
  cursor: pointer;
}
#bar{
  background-color: black;
  height: 4px;
  border-radius: 5px;
}
.container{
  margin-bottom: auto;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: space-between;
}
#dv-basket{
  display: none;
  position: fixed;
  right: 10px;
  width: 350px;
  padding: 25px;
  background-color: white;
  box-shadow: 1px 3px 3px darkslategrey;
  text-align: center;
  font-family: 'RocknRoll One', sans-serif;
}
#basket-items img{
  width: 30%;
}
#basket-items div{
  width: 100%;
  padding: 5px 0;
  text-align: left;
  display: inline-flex;
  border-bottom: 1px solid black;
}
#basket-items div div{
  border: none;
  text-align: left;
  display: inline-flex;
}
#basket-items div span:nth-child(1){
  width: 80%;
  padding-left: 10px;
  text-align: left;
}
#basket-items div span:nth-child(2){
  width: 45%;
  text-align: right;
}
#btn-chkout{
  width: 100%;
  padding: 15px;
  background-color: #eb4034;
  font-size: 15px;
  font-family: 'RocknRoll One', sans-serif;
}
#content{
  font-family: 'RocknRoll One', sans-serif;
  width: 30vw;
  min-width: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.item-image img{
  width:30vw;
  min-width: 100%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.item-qtd{
  font-size: 40px;
  padding: 15px;
}
button{
  border: none;
  cursor: pointer;
}
.item-sub,
.item-sum{
  font-family: 'RocknRoll One', sans-serif;
  background: ghostwhite;
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.item-add{
  font-family: 'RocknRoll One', sans-serif;
  background:  #eb4034;
  width: 100%;
  padding: 15px;
  font-size: 25px;
}
.item-sub:focus,
.item-sum:focus,
.item-add:focus,
#form button:focus,
#btn-chkout:focus,
#checkout form button:focus{
  outline: none;
}
.item-sub:hover,
.item-sum:hover,
.item-add:hover,
#form button:hover,
#form input:hover,
#form input:focus,
#btn-chkout:hover,
#checkout form button:hover{
  box-shadow: 1px 2px 3px gray;
  outline:none;
}
#options{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
#options div{
  margin-left: auto;
  font-size: 35px;
}
#form{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#form label{
  font-size: 20px;
  font-family: 'RocknRoll One', sans-serif;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
}
#form input{
  padding: 15px;
  font-size: 25px;
}
#form button{
  font-family: 'RocknRoll One', sans-serif;
  padding: 15px;
  background-color: #f5a442;
  font-size: 22px;
  border: none;
  cursor: pointer;
}
#checkout{
  display: inline-flex;
  flex-direction: column;
  margin: 50px auto;
}
#checkout #content{
  padding: 0;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid darkgray;
}
#checkout img{
  width: 10vw;
  min-width: 150px;
}
#checkout div:nth-child(2){
  padding: 15px;
  width: 100%;
  display: inline-flex;
}
#checkout #content div:nth-child(2) div:nth-child(1){
  font-size: 25px;
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
#checkout #content div:nth-child(2) div:nth-child(2){
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
  width: 35%;
}
#checkout #content div:nth-child(2) div:nth-child(2) div{
  font-size: 15px;
}
#checkout #content div:nth-child(2) div:nth-child(3){
  width: 100%;
  font-size: 25px;
  padding: 15px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#checkout form{
  margin-left: auto;
}
#checkout form button{
  padding: 15px;
  font-size: 25px;
  font-family: 'RocknRoll One', sans-serif;
  background:  #eb4034;
}
#total{
  display: inline-flex;
  justify-content: space-between;
  padding: 15px 30px 15px 0;
  font-size: 25px;
  font-family: 'RocknRoll One', sans-serif;
  align-items: center;
  border-bottom: 1px solid darkgray;
}
#total span:first-of-type{
  margin-right: auto;
}
footer{
  text-align: center;
  margin-top: auto;
}
